body, h1, h2, h3, p, button {
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    margin: 0;
    padding: 0;
    background-image: url('assets/images/backgroundimage.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    opacity: 0;
    transition: opacity 1s ease-in-out, background-image 1s ease-in-out;



}

body.loaded {
    opacity: 1;
}
.wfont {
    color: white;
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;  
}